<div id="dst_emails">
	<%= emails[0..limit].join(", ")%>
	<span id="rest_dst_emails" style="display: none;">
		, <%= emails.last(emails.size - limit - 1).join(", ") %>
	</span>
	<a id="toggle_all_dst_emails" href="#" class="btn btn-mini btn-inverse" style="margin-left: 5px; margin-bottom: 2px">
		<i class="icon-zoom-in icon-white"></i> Todos <%= number_with_delimiter emails.size %>
	</a>
</div>