<%= render :partial => 'search_form' %>


<% if @requests.empty? %>
	<div class="alert" style="text-align: center; margin-top: 10px; padding: 20px;">
		<h3>No se encontraron correos</h3>
	</div>
<% else %>
<%= render :partial => 'requests' %>

<% end %>