<div id="graph-stats" class="span6 well">
		<div class="stats-header">
			<h4>Remitentes</h4>
			<div class="content">
				<table class="table table-striped table-condensed">
					<tbody>
						<% @metrics.top_src_emails.each do |src_email|%>
						<tr>
							<td><%= src_email["address"]%></td>
							<td class="stat-value"><%= display_metrics src_email["count"]%></td>
							<td class="stat-value"><%= show_percent src_email["count"], @metrics.total_src_emails_count%></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
</div>