// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="text"].email {
	width: 20%;
}

input[type="text"].date {
	width: 9%;
	text-align: center;
}

#requests {
	.stats {
		padding-left: 10px;
		padding-top: 7px;
	}
	
	.request-row {
		cursor: pointer;
	}
}

#search-bar {
	margin-top: -15px;
	padding-top: 15px;
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	margin-bottom: 20px;
	background-color: #EEE;
	text-align: center;
	
	.btn {
		margin-left: 5px;
	}
}


#request {
	border: 1px solid #DDE;
	margin-top:10px;
	margin-left: 1px;
	padding: 10px;
	margin-bottom: 20px;
	
	#details {
		table {
			width: 95%;
			
			.value {
				font-weight: bold;
				border-left: 1px dashed #CCC;
				padding-left: 10px;
			}
		}
		padding-top: 5px;
	}
	
	#boxes {
		margin-bottom: 20px;
		
		td {
			padding: 5px;
		}
	}
	
	.box {
		border: 3px solid;
		padding: 10px;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: white;
		border-color: #333;
		min-height: 40px;
		padding-top: 25px;
		border-radius: 4px;
		width: 140px;
	}
	
	#request-delay {
		background-color: #08C;
		font-size: 30px;
		small {
			font-weight: normal;
			font-size: 18px;
		}
	}
	
	#request-size {
		background-color: #999;
		font-size: 30px;
	}
	
	.request-success {
		background-color: #468847;
		font-size: 25px;
	}
	.request-warning {
		background-color: #F89406;
	}
	
	.request-important {
		background-color: #AD2220;
	}
	
	#request-sent {
		background-color: #ECECEC;
		color: black;
		padding-top: 20px;
		font-size: 30px;
		h3 {
			font-weight: normal;
		}
	}
	
	#request-bounced {
		background-color: black;
		padding-top: 20px;
		font-size: 30px;
		h3 {
			font-weight: normal;
		}
	}
	
	#request-deferred {
		background-color: #81AA2C;
		padding-top: 20px;
		font-size: 30px;
		h3 {
			font-weight: normal;
		}
	}
}

#sents {
	table {
		td {
			.sent {
				background-color: #468847;
				font-weight: normal;
			}
			
			.bounced {
				background-color: #B94A48;
				font-weight: normal;
			}
			
			.deferred {
				background-color: #3A87AD;
				font-weight: normal;
			}
		}
	}
}