<tr>
	<td class="name" style="width: 30%">
		<%= account.name %>
	</td>
	<td class="stats" style="width: 40%">
		Correos: <%= number_with_delimiter account.request_qty %>
	</td>
	<td class="actions">
		<%= link_to "<i class='icon-edit'></i> Editar Cuenta".html_safe ,edit_account_path(account) %> |
		<%= link_to "<i class='icon-user'></i> Agregar Usuario".html_safe ,new_user_path(:account_id => account.id),
		 "data-account_id" => account.id, :remote => true %>
	</td>
</tr>