<div id="welcome-box" class="alert alert-info">
	<a class="close" data-dismiss="alert" href="#">×</a>
	<h4 class="alert-heading">Bienvenido a CarterApp</h4>
	<p>
		Y despreocupate de correos perdidos y listas negras, CarterApp asegura la entrega y además da la posibilidad de ver en tiempo real el estado de cada mensaje. Para configurar tu servidor de correos o aplicación debes tener en cuenta los siguientes datos:
	</p>
	<ul>
		<li><strong>Usuario</strong>: <%= current_account.sasl_login %></li>
		<li><strong>Contraseña</strong>: <%= current_account.sasl_password_view %></li>
	</ul>
	<p>
		En nuestra <%= link_to "sección de ayuda", ""%> encontrarás toda la información para que puedas comenzar a usar CarterApp desde ahora.
		<br/><br/>
		<strong>Con CarterApp tu envías, nosotros entregamos.</strong>
	</p>
</div>